div {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 2px dashed transparent;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  color: #28a1cc;
  fill: #28a1cc;
  background-color: #d4ecf5;
  border-color: #8fcee4;
}

.info{
  color: #28a1cc;
  fill: #28a1cc;
  background-color: #d4ecf5;
  border-color: #8fcee4;
}
.danger {
  color: #f63732;
  fill: #f63732;
  background-color: #fdd7d6;
  border-color: #fa9794;
}
.success{
  color: #4aaa50;
  fill: #4aaa50;
  background-color: #dbeedc;
  border-color: #a1d3a4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.close {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}
svg {
  transform: rotate(45deg);
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}
