<div [class]="accent">
  <button class="close" *ngIf="dismissible" (click)="this.onCloseClick"><svg>
    <path d="M13.9285714,6.42857143 L8.57142857,6.42857143 L8.57142857,1.07142857 C8.57142857,0.48 8.09142857,0 7.5,0 C6.90857143,0 6.42857143,0.48 6.42857143,1.07142857 L6.42857143,6.42857143 L1.07142857,6.42857143 C0.48,6.42857143 0,6.90857143 0,7.5 C0,8.09142857 0.48,8.57142857 1.07142857,8.57142857 L6.42857143,8.57142857 L6.42857143,13.9285714 C6.42857143,14.52 6.90857143,15 7.5,15 C8.09142857,15 8.57142857,14.52 8.57142857,13.9285714 L8.57142857,8.57142857 L13.9285714,8.57142857 C14.52,8.57142857 15,8.09142857 15,7.5 C15,6.90857143 14.52,6.42857143 13.9285714,6.42857143 Z"/>
  </svg></button>
  <h3><ng-content select="[header]"></ng-content></h3>
  <ng-content></ng-content>
</div>
