:host([type="primary"]) {
  button {
    color: #ffffff;
    background-color: #28a1cc;
    border-color: #28a1cc;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
}

:host([type="secondary"]) {
  button {
    color: #212529;
    background-color: #eaecee;
    border-color: #eaecee;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid transparent;
  padding: 0.4075rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  white-space: normal;
}
